<h1 class="mt-5">Add an entry to the database</h1>
<p class="lead">What would you like to add?</p>
<ul class="list-unstyled">
	<li><a href="/addRegion">Add a region</a></li>
	<li><a href="/addEvent">Add Event!</a></li>
	<li><a href="/addPerson">Add Person!</a></li>
	<li><a href="/addCity">Add city!</a></li>
</ul>
