<h1 class="mt-5">Add region</h1>
<h5 class="mt-5">Add your region</h3>
		
<form action="/action_page.php">
	 ID: <input type="text" name="id"><br>
	 Region Name: <input type="text" name="rname"><br>
</form>


<button type="button">Insert</button>

<br><br><br><br><br><br>


<h3>List of Regions</h3>
	<pre style="font-size: 13pt;">ID		Region Name</pre>  
	<pre style="font-size: 10pt;">			1		Mediterranean <button type="button"> Delete</button> <button type="button"> Update</button> </pre>
	<pre style="font-size: 10pt;">		2		Asia <button type="button"> Delete</button> <button type="button"> Update</button> </pre>
	<pre style="font-size: 10pt;">			3		Middle East <button type="button"> Delete</button> <button type="button"> Update</button>  </pre>

