<h1 class="mt-5">Add region</h1>
<h5 class="mt-5">Add your region</h3>
		
<form action="/addRegion"
	method="post">
	 ID: <input type="text" name="id"><br>
	 Region Name: <input type="text" name="rname"><br>
	<input type="submit" value="submit"/>
</form>



<br><br><br><br><br><br>


<h3>List of Regions</h3>
<table>
	<thead>
		<tr>
			<th>Id</th>
			<th>Region Name</th>
			<th>Remove/update</th>
		</tr>
	</thead>
	<tbody>
		{{#each region}}
			<tr>
				<td>{{id}}</td>
				<td>{{region_name}}</td>
				<td><button type="button" id="removeId1">Remove</button>
				<button type="button" id="updateId2">Update</button></td>
			</tr>
		{{/each}}
	</tbody>

</table>
