<h1 class="mt-5">Search</h1>
<p class="lead">Select your search and refine your search.</p>
<h5 class="mt-5">Enter your search term</h3>
	Search: <input type="text" name="search"><br><br><br>

	Refine your search: <br>
	<input type="checkbox"> Region     <input type="checkbox"> Event       <input type="checkbox"> Person       <input type="checkbox"> City
	<br><br><br>
	ID(Person, event, Region): <input type="text"><br>
	Name: 					   <input type="text"><br>
	Time Period: 			   <input type"text"><br>
	<button type="button">Search!</button>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

	<h4 class="mt-5"> Returned results: </h4>
	<pre>(table name)		ID		Name		TimePeriod		Description</pre>
