<h1 class="mt-5">Update Time period</h1>
<h5 class="mt-5">Update your time period</h3>
		
<form action="/time/"
	method="post">
	<input type="hidden" name="id" value="{{time.id}}">
	 Start Year: 
	 <input type="text" name="syear" value="{{time.start_year}}"><br>
	 End year:<input type="text" name="eyear" value="{{time.end_year}}"><br>
	<input type="submit" value="submit"/>
</form>



<br><br><br><br><br><br>


