
<h1 class="mt-5">Update region</h1>
<h5 class="mt-5">Update your region</h3>
		
<form action="/region/"
	method="post">
	<input type="hidden" name="id" value="{{region.id}}">
	 Region Name: 
	 <input type="text" name="rname" value="{{region.region_name}}"><br>
	<input type="submit" value="submit"/>
</form>



<br><br><br><br><br><br>


